[defaults]
inventory = inventory/aws_ec2.yml
remote_user = ubuntu
host_key_checking = False
timeout = 30

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
control_path = %(directory)s/%%h-%%p-%%r
